name: "add-to-project"

on:
  issues:
    types:
      - opened
      - reopened

  pull_request:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    uses: GersonRS/modern-gitops-stack/.github/workflows/pr-issues-project.yaml@main
    secrets:
      PROJECT_APP_PRIVATE_KEY: ${{ secrets.PAT }}
