---
# Workflow do GitHub Actions para verificar se o código Terraform está bem formatado e se os commits seguem
# a estrutura de mensagens de commit convencionais (necessário para criar releases automáticas com Release Please).
#
# IMPORTANTE: Este workflow é chamado por outros workflows nos repositórios da Modern Gitops Stack e está
# centralizado aqui para facilitar a manutenção entre módulos. Por isso, certifique-se de não introduzir
# mudanças que quebrem a compatibilidade ao modificar este workflow.

name: "modules-linters"

on:
  workflow_call:
  pull_request:

jobs:
  terraform-format:
    runs-on: ubuntu-latest

    steps:
      - name: "Fazer checkout do repositório"
        uses: actions/checkout@v6

      - name: "Configurar Terraform"
        uses: hashicorp/setup-terraform@v3

      - name: "Executar terraform fmt -check"
        run: "terraform fmt -check"

  commits-checks:
    runs-on: ubuntu-latest

    steps:
      - name: "Fazer checkout do repositório"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Buscar todo o histórico para todas as tags e branches

      - name: "Verificar mensagens de commit"
        uses: docker://aevea/commitsar:0.20.2
        env:
          COMMITSAR_CONFIG_PATH : ./.github