---
# GitHub Actions workflow to automatically push PRs and issues to the Modern Gitops Stack project board.
#
# IMPORTANT: This workflow is called by other workflows in our Modern Gitops Stack repositories and it is centralized here in
# order to be easily maintained across modules. Because of this, please make sure you're not introducing any breaking
# changes when modifying this workflow.

name: "add-to-project"

on:
  workflow_call:
    secrets:
      PAT:
        description: "GitHub token for the Modern Gitops Stack Project"
        required: true

permissions:
  issues: write
  pull-requests: write
  contents: write

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Add PR or issue to Modern GitOps Stack project board
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/GersonRS/projects/2
          github-token: ${{ secrets.PAT }}
          labeled: bug, needs-triage
          label-operator: NOT
      - name: Auto Author Assign
        uses: toshimaru/auto-author-assign@v2.1.1
        with:
          repo-token: ${{ secrets.PAT }}
