---
# Fluxo de trabalho do GitHub Actions para criar automaticamente releases e changelogs para o Modern GitOps Stack.
#
# Este fluxo de trabalho cria releases, atualiza números de versão em módulos e arquivos de configuração,
# e gera changelogs baseados em commits convencionais.

name: "modules-release-please"

on:
  workflow_call:
    secrets:
      PROJECT_APP_PRIVATE_KEY:
        description: "Chave privada do GitHub App para o projeto Modern GitOps Stack"
        required: true
  
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-please.outputs.releases_created }}
    steps:
      - uses: actions/checkout@v6
      
      - name: Gerar token de autenticação do GitHub App
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: 882683
          private_key: ${{ secrets.PROJECT_APP_PRIVATE_KEY }}
      
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          token: ${{ steps.generate_token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json